<div class="container-fluid">
    <div class="row headerStyle">
        <div class="col-sm-2 ">
                <img src="../../../assets/price-tag-euro.png" width="100px" height="60px" class="mt-2" alt="">
        </div>

        <div class="col-sm-12 col-md-5">
            <div class="input-group" style="margin-top: 20px;">
                <input type="text" class="form-control">
                    <div class="input-group-text " style="width:70px">
                        <mat-icon>search</mat-icon>
                    </div>
            </div>
        </div>
    </div>             
</div>       