        
          #ThumbnailCarousel div {
            height:400px;
            /* width:100%; */
        }
        
        #ThumbnailCarousel.carousel {
            padding-top:30px;
            text-align:center;
            height: 170px;
        }
        
        .col-md-3 .img-thumbnail {
            height:100%;
            width:100%;
        }
          .card{
              border:none;
          }
        .comon-button {
            /* position:absolute;               */
          height:40px;
          width:35px;
          top: 100px;           
          z-index: 100;
          border-radius: 50%;
              }
      .right-button{
          /* position:absolute;               */
          height:40px;
          width:35px;
          top: 100px;
          /* right:29px;        */
          z-index: 100;
          border-radius: 50%;
    }
          .left-icon{
             position:relative;
             top: -15px;
             left: -10px;
        }
        .right-icon{
          position:relative;
          top: -15px;
          /* left: 10px; */
     }
      .first-title{
          width: 100%; margin-left: -5px;
    }
    .second-title{
      width: 100%;text-align: start;color: silver;
}
  .rating{
     color: blue;
}
.rating-side{
  color: silver;
}

