

<div class="container search-filter-page-cls ">

    <header class="main-header-cls">

        <h1 class="seaching-heading-cls align">
            1000 results for "Java"
        </h1>
        <div class="related-course-cls">
            <h3 class="related-coures-heading align">
                Explore Java courses
            </h3>
            <h4 class="relared-topics-heading align">
                <span class="related-topics--topic-container">
                    Students also learn
                </span>
                <span class="related-topics--topic-container">
                    Spring Framework

                </span>
                <span class="related-topics--topic-container">
                    Android Development

                </span>
                <span class="related-topics--topic-container">
                    Selenium WebDriver

                </span>
                <span class="related-topics--topic-container">
                    Spring Boot

                </span>
                <span class="related-topics--topic-container">
                    Python

                </span>
                <span class="related-topics--topic-container">
                    Object Oriented Programming
                </span>
            </h4>
        </div>
    </header>

    <div class="container refund-notice-alert-banner " role="alert">
        <div class=" alert alert-primary  refund-notice-alert-banner-inner">
            Not sure? All courses have a 30-day money-back guarantee
        </div>

    </div>

    <!-- <div  class="filter-button-container--button-bar">
        <button class="filter-btn-cls  btn btn-primary"  (click)="showSideBarDiv()">
                Filter
        </button>

        <div class="filter-form-group-cls">

            <div class="form-group">
                <label for="exampleFormControlSelect1"></label>
                <div class="filter-select-container">
                    <select class="form-control  filter-select" id="exampleFormControlSelect1">
                        <option>Sort</option>
                        <option>Most Relevant</option>
                        <option>Most Reviewed</option>
                        <option>Heighest Rated</option>
                        <option>Newest</option>
                      </select>
                </div>
                </div>
        </div>
       
    </div> -->


    <!-- <div  class="filter-panel--filtered-course-list">
        <div  class="filter-panel--sidebar"  *ngIf ="showSidebarDivPart">
            <div class=""  >
                    <form  class="sidebar-filter-form-cls">

                            <div class="sidebar-filter-panel">
                                <div class="sidebar-filter-heading-cls"  (click)="TopicListMethod()">  
                                    <h4>Topic </h4>
                                        
                                </div>
                                <div  class="sidebar-topic-list"  *ngIf="showTopicToggle">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Android Development (20)</label>
                                    </div>
    
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Java JEE (20)</label>
                                    </div>
                                </div>                         
                            </div>

                            <div class="sidebar-filter-panel">
                                <div class="sidebar-filter-heading-cls"  (click)="showLevelMethod()">  
                                    <h4>Level </h4>
                                        
                                </div>
                                <div  class="sidebar-topic-list"  *ngIf="showLevelToggle">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">All Levels (20)</label>
                                    </div>
    
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Bigneer (10)</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Intermediate (2)</label>
                                    </div>
                              
                                </div>                         
                            </div>
                  
                    </form>
            </div>
        </div>

        <div  class="filter-panel--paginated-course-list">
            <div class=""  >
                
                <div class="course-card-container">
                    <div class="course-card-image  ">
                        <img src="https://img-a.udemycdn.com/course/240x135/533682_c10c_4.jpg?lr6PCc9qaIjuXYf2IwpkRiyF6yZxDacoJZ5NjKxYLFDPaqHewp4XEfLIIbzYDunSHZFHf93059kn0Iha0Dooq2xJfwS04-t8Pe5WcwjRjMCLDUMLjyCgF-nXcKIRJzU 1x, https://img-a.udemycdn.com/course/480x270/533682_c10c_4.jpg?rDVYrMEQSzJtrFYx7l3b67Hxb8kndONfMTfd7me2zPFpGQ0jIqE-5YFbgObG725dDx90EhNkUzAuiDHKyAJ4jqCDjtqPCvtvoyrpmuJNUbanyVcLQkxDwIAR9h8SXX4 2x" alt="">
                        <div class="course-card--main-content">
                            <div class="course-card-course-title">
                                Java Programming Masterclass for Software Developers
                            </div>
                            <p class="udlite-text-sm course-card--course-headline--yIrRk"
                             data-purpose="safely-set-inner-html:course-card:course-headline">
                             Learn <strong>Java</strong>
                              In This Course And Become a Computer Programmer. </p>
                               <div class="course-card-instructor-list">
                                Tim Buchalka, Tim Buchalka's Learn Programming Academy
                               </div> 
                               <div  class="course-card-row">
                                    <span class="star-rating--star-wrapper">
                                        <span class="udlite-sr-only">
                                            Rating: 4.6 out of 5
                                        </span>
                                        <span class="udlite-heading-sm">
                                            4.6
                                        </span>
                                    </span>
                                    <span class="course-card-review-text"> 
                                        (12,222)
                                    </span>
                               </div>
                               <div class="course-card-course-meta-info  course-card-row-info">
                                    <span  class="course-card-hours-info">
                                        40 total hours -
                                    </span>
                                    <span  class="course-card-hours-info">
                                        400 lectures -
                                    </span>
                                    <span  class="course-card-hours-info">
                                        All Levels
                                    </span>
                               </div>
                        </div>

                        <div class="course-card-price-text course-card-price-text-container">
                                <p>700/-</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div> -->

    <div class="container-block ">
        <div class="row ">
                     <button type="button" class="btn btn-outline-primary filter-button">Filter</button>
                &nbsp; &nbsp;
                <div class="">
                    <div class="form-group">
                        <label></label>
                        <div>
                            <select class="form-control filter-select">
                                <option>Sort</option>
                                <option>Most Relevant</option>
                                <option>Most Reviewed</option>
                                <option>Heighest Rated</option>
                                <option>Newest</option>
                            </select>
                        </div>
                    </div>
                </div>
  
         

        </div>
    </div>

</div>

<!-- <nav class="navbar navbar-expand-md navbar-light col-lg-3 ">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse maindiv  ml-1 " id="navbarTogglerDemo02">
        <div class="container title-errow row col-lg-mt-5">
            <span>Price</span>
            <svg (click)="pricedivhise()" *ngIf="svg1" width="1em" height="1em" viewBox="0 0 16 16"
                class="bi bi-chevron-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
            </svg>

            <svg (click)="pricedivshow()" *ngIf="svg2" width="1em" height="1em" viewBox="0 0 16 16"
                class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
            </svg>
        </div>
        <div class="container inputsdiv row " *ngIf="hide">
            <form>
                <label for="vehicle1">
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"> &nbsp; &nbsp;
                    Paid (2,712)</label><br>
                <label for="vehicle2">
                    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car"> &nbsp; &nbsp;
                    Free (229)</label>
            </form>
        </div>
    </div>
</nav> -->

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-warning ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse row col-md-4" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
</nav> -->

<!-- <div class="panel--panel--3NYBX">
    <span id="u508-accordion-panel--1033" data-type="checkbox" data-checked=""
        style="display: none;">
    </span>
    <div class="udlite-btn udlite-btn-large udlite-btn-link udlite-heading-lg udlite-accordion-panel-toggler panel--panel-toggler--39q84 panel--outer-panel-toggler--2Xmux"
        data-css-toggle-id="u508-accordion-panel--1033">
        <h3 class="udlite-accordion-panel-heading">
            <button type="button" aria-expanded="false"
                class="udlite-btn udlite-btn-large udlite-btn-link udlite-heading-lg js-panel-toggler panel--panel-toggler--39q84"
                id="u508-accordion-panel-title--1034">
                <span class="udlite-accordion-panel-title">Price</span>
            </button>
        </h3>
        <svg aria-hidden="true" focusable="false"
            class="udlite-icon udlite-icon-small udlite-icon-color-neutral panel--expand-icon--cRV8x">
            <use xlink:href="#icon-expand"></use>
        </svg>
    </div>
    <div class="panel--content-wrapper--1yFBX" aria-labelledby="u508-accordion-panel-title--1034" aria-hidden="true"
        role="region">
        <div class="udlite-accordion-panel-content panel--content--18-7N">
            <div class="show-more--container--1QLmn"><span id="u508-show-more--1035" data-type="checkbox"
                    data-checked="" style="display: none;"></span>
                <div class="show-more--content--isg5c" style="max-height: 145px;">
                    <div>
                        <fieldset class="filter--filter--jx8jO" name="Price">
                            <label
                                class="udlite-toggle-input-container udlite-text-sm" for="u508-checkbox--1036">
                                <input
                                    name="price" readonly="" class="udlite-sr-only udlite-real-toggle-input"
                                    id="u508-checkbox--1036" type="checkbox" value="price-paid">
                                <svg aria-hidden="true"
                                    focusable="false"
                                    class="udlite-icon udlite-icon-xsmall udlite-fake-toggle-input udlite-fake-toggle-checkbox">
                                    <use xlink:href="#icon-tick"></use>
                                </svg>Paid
                                <span class="filter--count--33UW8">(2,712)</span>
                               </label>
                               <label class="udlite-toggle-input-container udlite-text-sm" for="u508-checkbox--1037">
                                   <input name="price" readonly="" class="udlite-sr-only udlite-real-toggle-input"
                                    id="u508-checkbox--1037" type="checkbox" value="price-free">
                                <svg aria-hidden="true"
                                    focusable="false"
                                    class="udlite-icon udlite-icon-xsmall udlite-fake-toggle-input udlite-fake-toggle-checkbox">
                                    <use xlink:href="#icon-tick"></use>
                                </svg>Free
                                <span class="filter--count--33UW8">(229)</span>
                            </label>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="row" style="overflow: hidden;">

    <div class="col-lg-3 col-md-4 col-sm-4">
        
    <div  class=" bg-success" >
        <button class="filter-btn-cls  btn btn-primary" >
                Filter
        </button>
    
        <div class="">
            
            <div class="form-group">
                <label for="exampleFormControlSelect1"></label>
                <div class="filter-select-container">
                    <select class="form-control  filter-select" >
                        <option>Sort</option>
                        <option>Most Relevant</option>
                        <option>Most Reviewed</option>
                        <option>Heighest Rated</option>
                        <option>Newest</option>
                      </select>
                </div>
                </div>
        </div>
       
    </div>
    </div>
</div> -->

    <div class="row  container-fluid " >
        <div class="col-lg-3 col-md-0 col-sm-0 bg-success mt-2">
                <nav class="navbar navbar-expand-md navbar-light col-lg-3 ">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse maindiv  ml-1 " id="navbarTogglerDemo02">
        <div class="container title-errow row col-lg-mt-5">
            <span>Price</span>
            <svg (click)="pricedivhise()" *ngIf="svg1" width="1em" height="1em" viewBox="0 0 16 16"
                class="bi bi-chevron-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
            </svg>

            <svg (click)="pricedivshow()" *ngIf="svg2" width="1em" height="1em" viewBox="0 0 16 16"
                class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
            </svg>
        </div>
        <div class="container inputsdiv row " *ngIf="hide">
            <form>
                <label for="vehicle1">
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"> &nbsp; &nbsp;
                    Paid (2,712)</label><br>
                <label for="vehicle2">
                    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car"> &nbsp; &nbsp;
                    Free (229)</label>
            </form>
        </div>
    </div>
</nav>
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 ">
                <div class="row ">
                    <div class="col-lg-3 col-md-4 col-sm-5  ">
                        <img class="imgg"
    src="https://img-a.udemycdn.com/course/240x135/533682_c10c_4.jpg?2DXYItjHSQktncCsATRLMy-yTRqlD75HI_cu2alls7F8m365Z9UagdWGrOUU-Tqu4-fNPwxqzXlJlOLS4uxE7rZ4QHIdkB9YmwTnwBA8XIAEhGmm2OFyrNLmXRl2-EY" alt="">
                    </div>
                
                    <div class="col-lg-6 col-md-6 col-sm-5 " style="height: 200px;">
                   <strong><h4>Selenium WebDriver with Angular-Basics</h4></strong>     
                        <h5 class="paras">
                            TOP RATED BEST SELLER 1 Master SELENIUM java course -5 million students learning.

                        </h5>
                        <p class="para" >worldWide with great collaboration</p>
                        <p class="para">Rahul Sharma</p>
                        <p class="para">Ratings</p>
                        <p class="para">video hrs details</p>
                        <p class="para"><button>bestseller</button></p>
                    </div>  
                    <div class="col-lg-2 col-md-2 col-sm-2  ">
                        <h5 class="pricediv">New 800/-</h5>
                        <h5>Old 900/-</h5>
                    </div>
                </div>
        </div>
    </div>
    
    <section>
        <!-- You can now use your library component in app.component.html -->
     